@use '../0-abstracts/abstracts' as *;
@use 'sass:color';
.btn-primary {
  color: $primary-purple;
  background: transparent;
  padding: 10px 20px;
  border-color: $primary-purple;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease;

  &:hover {
    border-color: $primary-purple;
    background: $primary-purple-light;
  }
}
